<a href="https://colab.research.google.com/github/ar-darbinyan/data-portfolio/blob/main/day1_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Day 1 — tiny Python wins
print("Hello, Araksya! Day 1 ✅")

# simple math
a = 10
b = 3
print("a + b =", a + b)
print("a / b =", a / b)

# list and loop
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    print("Number:", i)

# range loop and sum
total = 0
for n in range(1, 6):
    total += n
print("Sum 1..5 =", total)

# list comprehension (short & pythonic)
squares = [x**2 for x in numbers]
print("Squares:", squares)

Hello, Araksya! Day 1 ✅
a + b = 13
a / b = 3.3333333333333335
Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Sum 1..5 = 15
Squares: [1, 4, 9, 16, 25]

# Day 1: Python basics
Practiced prints, simple math, lists and loops. Next: pandas and saving notebook to GitHub.